@media screen and (min-width:180px){
    .container{
        width: 1280px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    /* 头部代码 */
   body{
       background-color: #f2f2f2;
       background: url(../images/bg.jpg) center;
       background-size: 100%; 
   }
/*    header{
        height: 50px;
        line-height: 50px;  
        position: fixed;
        width: 1280px;
        z-index: 999;
    } */
    /* 左侧导航条 */
    aside{
        padding: 0 !important;
	
    }
    .headshot img{
        width: 80px;
        height: 80px;
    }
    .father{
        width: 320px;
        /* background: url('../images/header-bg.png') center; */
        background: rgba(0,0,0,0.5);
        position: fixed;
        height:100%; 
        z-index: 999;
        
    }

    aside .headshot{
        height: 300px;
    }
    aside .introdution{
        position: absolute;	
        top: 150px;
        color: white;
    }
    aside .introdution p:nth-child(1){
        text-align: center;
        font-weight: 700;
        font-size: 16px;
    }
    aside .introdution p:nth-child(2){
        text-align: center;
        color:#CCFF99 ;
    }
    aside .introdution p:nth-child(3){
        text-align: left;
        text-indent: 2em;
        padding:0 20px 0 20px ;
        color:white ;
        opacity: 0.8;
    }
    .headshot-cir{
        position: absolute;
        left:150px;
        top: 100px;
        transform: translate(-50%,-50%);
    }
    aside ul li{
        font-size:16px ;
        height: 50px;
        line-height: 50px;
        text-align: center;
    } 
    aside ul li a{
        color: white;
    }
    aside ul li a:hover{
        color: black;
        text-decoration: none;
    }
    aside ul li:hover{
       background-color:  rgba(213, 213, 213,0.5);
    }
    aside ul li a::before{
        vertical-align: middle;
        padding-right:5px ;
    }
 



   /*文章部分*/
    article{
        width:900px;
        height: 100%;
        padding: 10px;
    }
    .bigh{
        height: 900px;
    }
    article .title h2{
        font-size: 20px;
        margin: 0;
    }
    article .title{
    	display: flex;
    	align-items: center;
        color: white;
        border-radius:5px ;
        margin-bottom: 10px ;
        padding-left: 15px;
        height: 50px;
        background-color:rgba(0,0,0,0.5) ;
    }
  
    article .list li{
        text-align: center;
        border-radius:8px ;
        width:  100%;
        height: 180px;
        margin: 8px 5px;
        padding: 0 40px;
        background-color: rgba(240, 239, 239, 0.5);

    } 
    article .list li:hover{
        background-color: rgba(213, 210, 210, 0.5);
    } 
    article ul {
        border-radius: 8px;
    }
    article .list{
    	flex-direction: column; 
    	display: flex;
    	align-items: center;
    }
    article .list li .aaa{
        display: flex;
        align-items: center;
        width: 400px;
        height: 100%;
        float: left;

    }
    
    article .list li img{
        width: 90%;
        height: 90%;
    }
    article .list li .content{
        width: 400px;
        float: left;
        height: 100%;
        color: black;
    }
    article .list li a{
        color: black;
    }
    article .list li .content-ifno{
        padding: 0 10px;
        text-indent: 2em;
        display: block;
        display: -webkit-box;
        max-width: 400px;
        height: 68px;
        margin: 0 auto;
        font-size: 16px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        
          
    }
    
    article .list span{
    	margin-right: 5px;
        margin-top:3px;
        color: orange;
        text-align: right;
        display: block;
    }

    footer{
        width: 900px !important;
        color: white;
        height: 35px;
        text-align: center; 
        line-height: 35px;
    }
  
 

    
}